@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEFAULT STYLING */
:root {
  /* --color-background: #0f1622; */
  --color-background: #1b273b;
  --color-primary: #6366f1;
  --color-primary-darker: #4f46e5;
  --color-selection: rgb(99, 102, 241, 0.2);
  --color-p: #cbd5e1;
  --color-outline: #cbd5e1;

  /* Font rendering, smoothing, adjusting */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::selection {
  background-color: var(--color-selection);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inherit;
}

/* THEME */
html {
  color-scheme: dark light;
}

body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Inter', 'SF Pro',
    'San Francisco Pro', 'Helvetica Neue', Helvetica, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', sans-serif;

  background-color: var(--color-background);
  color: #fff;

  min-height: 100vh;

  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-direction: column; */
  /* text-align: center; */

  /* overflow: hidden; */
}

header,
footer {
  padding: 0.5rem 1rem;
}

main {
  padding: 1rem;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select,
a,
a:link,
a:visited,
a:hover,
a:active {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  font-size: 1rem;
  outline: none;
}

/* active element outline */
:focus {
  /* outline: 2px solid var(--color-primary); */
  outline: 1px solid var(--color-outline);
}

ul,
li {
  list-style: none;
}

a {
  color: var(--color-primary);
}

a:hover {
  text-decoration: underline;
}

/* button {
  cursor: pointer;
  border: 1px solid var(--color-primary);
  outline: none;

  background-color: var(--color-primary-darker);
  color: #fff;

  font-size: 1.15rem;
  padding: 0.2rem 1rem;
  border-radius: 6px;
}

button:hover {
  background-color: var(--color-primary);
  color: white;
}

button:active {
  background-color: var(--color-primary-darker);
} */

p {
  color: var(--color-p);
}

/* input {
  border: 1px solid var(--color-primary);
  border-radius: 6px;
  padding: 0.2rem 1rem;
  font-size: 1.15rem;
} */

button,
input {
  border-width: 1px;
}

.animate-3d-rotate {
  animation: animate-3d-rotate 4s ease-out infinite;
}

/* width and height of the scrollbar */
textarea::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  background: transparent;
}

/* scrollbar track */
textarea::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

/* scrollbar thumb */
textarea::-webkit-scrollbar-thumb {
  background-color: #94a3b8;
  border-radius: 999px;
  border: 2px solid #94a3b8;
}

/* scrollbar thumb on hover */
textarea::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

@keyframes animate-3d-rotate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/* DARK MODE */
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
